<ion-view view-title="{{campus.campus.nome}}">
  <ion-content>
  <div style="text-align: center; padding: 16px;">
    <img padding src="http://propi.ifto.edu.br/ocs/public/conferences/9/homepageImage_pt_BR.png" class="img" style="width: 70%">

  </div>
  <div class="list card">
        <div class="item item-divider" align="center">
          {{campus.titulo}}
        </div>
        <div class="item item-body" style="">
         <p>
            {{campus.texto}}
          </p>
        </div>
      </div>
  <ion-slide-box>
  	<ion-slide>
  		
  	</ion-slide>
  	</div>
  </ion-slide>
  </ion-slide-box>
  <h1><center></center></h1>
  </ion-content>
</ion-view>
