<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
     <!--  <button class="button button-icon button-clear ion-log-out" menu-toggle="right" href="#/log/login"></button> -->
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
                      
    <!-- <ion-header-bar class="bar-positive">
      <h1 class="title">Menu</h1>
    </ion-header-bar> -->
    <ion-content class="custom">
      <div style="text-align: center; padding: 16px;">
        <img class="img"  src="https://www.aquivocepassa.com/images/concursos/2412/instituto-federal-do-tocantins-ifto-assistente-em-administracao.png">
      </div>
      <ion-list>
         <ion-item class="item" menu-close href="#/app/home">
          <img src="https://image.flaticon.com/icons/svg/149/149412.svg" width="24px">
          &nbsp;&nbsp;Início
        </ion-item>
        <br>
        <ion-item class="item" menu-close href="#/app/home">
          <img src="https://image.flaticon.com/icons/svg/182/182336.svg" width="24px">
          &nbsp;&nbsp;Campus Palmas
        </ion-item>
        <br>
        <ion-item class="item" menu-close href="#/app/home">
          <img src="https://image.flaticon.com/icons/svg/182/182336.svg" width="24px">
          &nbsp;&nbsp;Campus Araguaína
        </ion-item>
        <br>
        <ion-item class="item" menu-close href="#/app/home">
          <img src="https://image.flaticon.com/icons/svg/182/182336.svg" width="24px">
          &nbsp;&nbsp;Campus Araguatins
        </ion-item>
        <br>
        <ion-item class="item" menu-close href="#/app/home">
          <img src="https://image.flaticon.com/icons/svg/182/182336.svg" width="24px">
          &nbsp;&nbsp;Campus Paraíso
        </ion-item>
        <br>
        <ion-item class="item" menu-close href="#/app/home">
          <img src="https://image.flaticon.com/icons/svg/182/182336.svg" width="24px">
          &nbsp;&nbsp;Campus Dianópolis
        </ion-item>
        <br>
        <ion-item class="item" menu-close href="#/app/home">
          <img src="https://image.flaticon.com/icons/svg/182/182336.svg" width="24px">
          &nbsp;&nbsp;Campus Porto Nacional
        </ion-item>
        <br>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
