<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="campus">{{campus.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<style>
  .tag {
    background: green;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 2px;
    display: inline-block;
  }
</style>
<ion-card style="text-align: center;">
    <img class="img" style="margin: 0 auto;" src="http://portal.ifto.edu.br/imagens/unidades/miniatura/campus-palmas">
  
  <!--   <ion-card-content *ngIf="campus">   
      <p>{{campus.resusmo}}</p>
    </ion-card-content> -->
  </ion-card>
<!-- 
<img src="" /> -->

  <div *ngIf="campus" padding>
    <p>{{campus.resusmo}}</p>
  </div>
  
  <!--<div padding-left>
    <h3>Recursos</h3>
  </div>-->

<ion-card>
  <ion-card-header (click)="toggleRecursos()">
    <b>RECURSOS</b>
    <ion-icon color="primary" item-end [name]="mostrarRecursos.icon"></ion-icon>
  </ion-card-header>
  <ion-card-content *ngIf="mostrarRecursos.mostrar" >
    <ion-list *ngIf="campus" padding no-lines>
      <ion-item ion-item *ngFor="let item of campus.recursos">
        <!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
          <h2>{{item.nome}}</h2>
        <div>
          <p><b>Quantidade</b>  <ion-badge color="secondary">{{item.quantidade}}</ion-badge></p>
          <div>
            <ion-badge *ngFor="let tag of item.tags" margin-right>
                  {{tag.nome}}
            </ion-badge>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
  
  <div padding-left>
    <h3>Cursos</h3>
  </div>
  <ion-list *ngIf="campus" padding no-lines>
    <ion-item ion-item *ngFor="let item of campus.cursos">
      <!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
        {{item.nome}}
      <div>
        <p>{{item.nivel}}</p>
      </div>
    </ion-item>
  </ion-list>
  
  
<!--   <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list> -->
</ion-content>
