/* Empty. Add your own CSS if you like */
#texto{
  display: none;
}
#t-a{
  display: none;
}#ip-f{
  display: none;
}
#ip{
  display: none;
}
* {
box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
font-family: Arial;
background-color:#33cd5f;
}
.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}
.app-title {
text-align: center;
color: #33CC00;
}
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
input {
text-align: center;
width: 250px;
/*background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}*/}
/*input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}*/
.btn {
  border: 2px solid transparent;
  background:#3881F5;
  color: #FFFFFF ;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}
.btn:hover {
  background-color:#00BFFF;
}
.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}
.ah{
  float: left;
}

.pc {
  float: left;
  display: block;
  align-content: center;
}
#enviar{
  left: 40%;
}
.conta {
margin: 20px auto;
width: 300px;
}
.conta-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}
.img {
  max-width: 100%;
  max-height: 100%;
}

.custom .item {
  background-color: transparent;
  border: none;
  border-color: #666;
  color: white;
}
.custom .item:last-child {

}
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent; 
}
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: black;
}

.a {
    text-decoration:none;

  }
 .fixar {
 position:fixed;
}